#page {
    display: flex;
    flex-direction: column;
}

#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

#navbar {
    display: flex;
    height: max-content;
    width: 100%;
    border-bottom: thin black solid;
}

#view-box {
    display:flex;
    margin-top: 20px;
    width: 90%;
    height: 80%;
    border: 1px black solid;
}